<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/dheereshagrwal/colored-icons@1.6.1/ci.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/style.css">
        
    <title>🌐 Blog-O-Sphere</title>
    </head>
    <body>
        <header>
            <div class="navbar-fixed">
                <nav class="berkley-navbar">
                    <div class="nav-wrapper container">
                        <a href="/homepage" class="brand-logo">🌐</a>
                        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            {{#if logged_in}}
                                <li>{{user_name}}</li>
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="/logout" id="logout-link" >Logout</a></li>
                                <li><a href="/about">About</a></li>
                            {{else}}
                                <li><a href="/login">Members Only</a></li>
                                <li><a href="/signup">New Initiate</a></li>
                                <li><a href="/about">About</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="sidenav" style="background-color: #003262" id="mobile">
                {{#if logged_in}}
                    <li class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user_name}}</li>
                    <li><a class="white-text" href="/dashboard">Dashboard</a></li>
                    <li><a class="white-text" href="/logout" id="mobile-logout-link" >Log Out</a></li>
                    <li><a class="white-text" href="/about">About</a></li>
                {{else}}
                    <li><a class="white-text" href="/login">Members Only</a></li>
                    <li><a class="white-text" href="/signup">New Initiate</a></li>
                    <li><a class="white-text" href="/about">About</a></li>
                {{/if}}
            </ul>
        </header>

        <main id="main">
            {{{ body }}}
        </main>

        <footer class="page-footer" style="background-color: #fdb515;" >
            <section class="section container">
                <p class="grey-text text-lighten-4">
                    Made Possible by <a class="purple-text text-lighten-4" href="/about">Mark T.</a>
                </p>
                <p class="grey-text text-lighten-4">
                    Created September 2023 for the UC Berkley Full Stack Web Development Bootcamp
                </p>
            </section>
            <section class="footer-copyright">
                <div class="container">
                © 2023 Tech Blog-O-Sphere
                <a class="purple-text text-lighten-4 right" href="#" target="_top">Top</a>
                </div>
            </section>
      </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/materialize.min.js"></script>
        <script src="/main.js"></script>

    </body>
</html>